
body,html {
    width:100%;
    height:100%;
    position: fixed;
    left:0;
}
.bgContain{
	background: url(../images/3.jpg)no-repeat 0 0;
    background-size: 100% 100%;
    height:100%;
    width:100%;
}
.preserveContain{
	perspective: 731px;
	transform: translateZ(-830px);
	/*transform: translateZ(60px);*/
	/*transform: translateZ(660px);*/
    transform-style: preserve-3d; 
}
.outContain {
    height:100%;
    /*background: url(../images/3.jpg)no-repeat 0 0;
    background-size: 100% 100%;*/
    /*transform: rotateY(-20deg);*/
     /* transform-origin: right center;*/
}
.cdd {
     width:100%;
     height:100%;
}
.contain {
    width:100%;
    height:100%;
    transform: translateZ(0px);
}
.ParentEle{
	top: 50%;
    left: 50%;
    width: 3.3rem;
    height: 3.3rem;
    position: absolute;
    transform: translate(-50%,-50%);
}
.picContain{
    position: absolute;
    top: 0;
    left: 0rem;
    width: 100%;
    height: 100%;
}
.picContain img{
	position: absolute;
}
/*.picCon1{
    transform: translateZ(0px);
}
.picCon2{
    transform: translateZ(60px);
}
.picCon3{
    transform: translateZ(200px);
}
.picCon4{
    transform: translateZ(300px);
}
.picCon5{
    transform: translateZ(400px);
}*/
.picCon1{
    /*transform: translateZ(0px);*/
    transform: translateZ(-230px);
}
.picCon2{
    transform: translateZ(85px);
}
.picCon3{
    transform: translateZ(220px);
}
.picCon4{
    transform: translateZ(320px);
}
.picCon5{
    transform: translateZ(400px);
}
.picCon6{
    transform: translateZ(12px);
}


.picCon1 .pic1{
    top: 2.1rem;
    left: -0.35rem;
    width: 4rem;
}
.picCon1 .pic2{
    top: 2.1rem;
    left: -0.8rem;
    width: 3.4rem;
}
.picCon1 .pic3{
    top: -0.2rem;
    left: 0rem;
    width: 1rem;
}
.picCon1 .pic4{
    top: -0.2rem;
    right: 0rem;
    width: 1rem;
}



.picCon1 .pic5{
    top: -0.15rem;
    left: 0.4rem;
    width: 2.5rem;
}
.picCon1 .pic6{
    top: 1.8rem;
    left: 0.2rem;
    width: 3rem;
}
.picCon1 .pic7{
    top: 0.8rem;
    left: 1rem;
    width: 1.3rem;
}
.picCon1 .pic8{
    top: 0.4rem;
    left: 0.47rem;
    width: 1.5rem;
}
.picCon1 .pic9{
    top: 0.45rem;
    right: 0.52rem;
    width: 1.4rem;
}
.picCon2 .pic1{
    top: 50%;
    left: 50%;
    width: 2.6rem;
    transform: translate(-50%,-50%);
}
.picCon2 .pic2{
    top: -0.15rem;
    left: 0.4rem;
    width: 2.5rem;
}
.picCon2 .pic3{
    top: 1.3rem;
    left: -0.18rem;
    width: 3.67rem;
}
.picCon2 .pic0{
    top: 2rem;
    left: -0.35rem;
    width: 4rem;
}
.picCon2 .pic00{
	top: 2rem;
    left: -0.8rem;
    width: 3.4rem;
}




.picCon3 .pic1{
    top: 50%;
    left: 50%;
    width: 2.6rem;
    transform: translate(-50%,-50%);
}
.picCon3 .pic2{
    top: -0.15rem;
    left: 0.4rem;
    width: 2.5rem;
}
.picCon3 .pic3{
    top: 2.52rem;
    left: 0.8rem;
    width: 1.3rem;
}
.picCon3 .pic4{
    top: 2rem;
    left: 1.2rem;
    width: .8rem;
}
.picCon3 .pic5{
    top: 2.1rem;
    left: 2rem;
    width: 1rem;
}
.picCon3 .pic6{
    top: 2.5rem;
    left: 1.2rem;
    width: 0.38rem;
}
.picCon3 .pic7{
    top: 2.05rem;
    left: 2.4rem;
    width: 0.3rem;
}
.picCon3 .pic8{
    top: 2.72rem;
    left: 0.1rem;
    width: 1rem;
}
.picCon3 .pic9{
	top: 2.72rem;
    right: 0.1rem;
    width: 1rem;
}
.picCon3 .pic0{
    top: 2.1rem;
    left: -0.35rem;
    width: 4rem;
}
.picCon3 .pic00{
	top: 2.1rem;
    left: -0.8rem;
    width: 3.4rem;
}



.picCon4 .pic1{
    top: 50%;
    left: 50%;
    width: 2.6rem;
    transform: translate(-50%,-50%);
}
.picCon4 .pic2{
    top: -0.45rem;
    left: 0.4rem;
    width: 2.5rem;
}
.picCon4 .pic3{
    top: 2.57rem;
    left: 0.65rem;
    width: 1rem;
}
.picCon4 .pic4{
	top: 1.65rem;
    left: 1.65rem;
    width: 1rem;
}
.picCon4 .pic5{
    top: -2rem;
    left: -0.35rem;
    width: 4rem;
}
.picCon4 .pic6{
	top: 2.1rem;
    left: -0.35rem;
    width: 4rem;
}
.picCon4 .pic7{
    top: 2.1rem;
    left: -0.8rem;
    width: 3.4rem;
}



.picCon5 .pic1{
    top: 50%;
    left: 50%;
    width: 2.6rem;
    transform: translate(-50%,-50%);
}
.picCon5 .pic2{
    top: -0.55rem;
    left: 0.4rem;
    width: 2.5rem;
}
.picCon5 .pic3{
    top: 3rem;
    left: 0.7rem;
    width: 2rem;
}
.picCon5 .pic4{
    top: 1.9rem;
    left: 0.11rem;
    width: 1.3rem;
}
.picCon5 .pic5{
    top: 1.8rem;
    left: 2rem;
    width: 1.3rem;
}
.picCon5 .pic6{
    top: -2.09rem;
    left: -0.5rem;
    width: 1.18rem;
}
.picCon6 .pic1{
    top: 50%;
    left: 50%;
    width: 4.6rem;
    transform: translate(-50%,-50%);
}

#mp3Btn{
    position: fixed;
    right: 0.5rem;
    top: 0.5rem;
    background: url(../images/yinyue.png) 0 0; 
    background-size: 100% 100%;
    width: 1rem;
    height: 1rem;
    z-index: 20;
}
#mp3Btn.playing1{
    animation: rotating 1.2s linear infinite;
    -webkit-animation: rotating 1.2s linear infinite;
   
}
.upDown{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 2.5rem;
    height: 2.5rem;
    z-index: 200;
    transform: translate(-1.25rem,-1.25rem);
}
.upDownPic{
	width: 2.5rem;
}
@keyframes rotating{
	0% {
    	transform: rotate(0deg);
    	/*-webkit-transform: rotate(0deg);*/
	}
	100% {
	    transform: rotate(1turn);
	   /* -webkit-transform: rotate(1turn);*/
	}
}

/*loading*/

.loading_box {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	background-color: #000000;
	/*background-image: url(../img/bg.jpg);
	background-size: 100% 100%;*/
}

#ajaxbar1 {
	overflow: hidden;
	width: 180px;
	position: absolute;
	left: 50%;
	margin-left: -45px;
	top: 50%;
}

#ajaxbar1 .barlittle {
	background-color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color1', endColorstr='@color2');
	background-image: -webkit-linear-gradient(45deg, #ffffff 25%, #f1ffea);
	background-image: -moz-linear-gradient(45deg, #ffffff 25%, #f1ffea);
	/*border: 1px solid #111;*/
	width: 20px;
	height: 20px;
	float: left;
	margin-left: 10px;
	opacity: 0.1;
	-webkit-animation: pulse 1s linear infinite normal;
	-moz-animation: pulse 1s linear infinite normal;
	-ms-animation: pulse 1s linear infinite normal;
	animation: pulse 1s linear infinite normal;
	-webkit-animation-delay: 0;
	-moz-animation-delay: 0;
	-o-animation-delay: 0;
	animation-delay: 0;
}

#ajaxbar1 #block1 {
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	-o-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

#ajaxbar1 #block2 {
	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	-o-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

#ajaxbar1 #block3 {
	-webkit-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
	-o-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

#ajaxbar1 #block4 {
	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	-o-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

#ajaxbar1 #block5 {
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	-o-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

@keyframes pulse {
	from {
		transform: scale(1.2);
		opacity: 1;
	}
	to {
		transform: scale(0.7);
		opacity: 0.1;
	}
}

@-moz-keyframes pulse {
	from {
		-moz-transform: scale(1.2);
		opacity: 1;
	}
	to {
		-moz-transform: scale(0.7);
		opacity: 0.1;
	}
}

@-webkit-keyframes pulse {
	from {
		-webkit-transform: scale(1.2);
		opacity: 1;
	}
	to {
		-webkit-transform: scale(0.7);
		opacity: 0.1;
	}
}







